@media(max-width:79em){
    html{
        font-size: 9px;
    }
    .container{
        max-width: 100rem; padding: 0 4rem;
    }
    
}
@media(max-width:59em){
    html{
        font-size:50% ;
    }
    .section-body{
        padding: 15rem 0;
    }
   
}

@media(max-width:34em){
    html{
        font-size:6px;
    }
    .container{
        max-width: 70rem;
        padding: 6.2rem  ;
    }
    .section-body{
        padding: 20rem 0 0 0 ;
    }
    .btn-mobile-nav{
        display: block;
        z-index: 13;
    }
    .nav-items{
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: 100vh;
    /* margin-top:13rem ; */
        display: flex;
        
        align-items:center;
        justify-content: center;
        transform: translateX(100%);
       z-index: 12;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: all 0.3s ease-in-out;

    }
    .nav-open .nav-items{
        
        opacity:   1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name='close-outline']{
        display:block;
    }
    .nav-open .icon-mobile-nav[name='menu-outline']{
        display:none;
    }
    .nav-items ul{
        text-align: center;
        flex-direction: column;
       font-size: 4.4rem;
    }
    .icon-mobile-nav{
        color: white;
    }
    
}